@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&family=Work+Sans:wght@100&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;  
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main:#3e97d1;
  --color:#dd7b05;
  --text:#000;
  --FontNav:17px;
}


.navbar__logo__img{
  width: 50%;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__container ul{
  display: flex;
  gap: 35px;
  list-style: none;
}

.navbar__container ul li a{
  text-decoration: none;
  color: var(--main);
  font-size: var(--FontNav);
  font-weight: 700;
}

 button{
  padding: 10px;
  background: var(--main);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px !important;
  margin-top:-10px !important;
  transition: all .5s ease-in;
  cursor: pointer;
}
.navbar__container button:hover{
  transition: all .5s ease-in;
  background: var(--color);
}


/* Hero Section */

.hero__section {
  height: 80vh;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 20px;
}

.hero__section .heading h2{
    color: var(--main);
    text-transform: uppercase;
}

.hero__section .heading span{
  color: var(--color);
  font-size: 28px;
}

.hero__section img{
  width: 100%;
  text-align: center;
  margin-left: 50px;
}

.hero__text__section{
  margin-top: 150px !important;
}

.hero__text__section .heading2{
  font-weight: 800;
  color: var(--main);
}


/* Card Component */

.cardComponent h5{
  color: var(--main);
}

.cardComponent h4{
  color: var(--color);
}

/* Why choose us */

.choose__us {
  margin-top: 10px;
  width: 100%;
  height: 250px;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://images.squarespace-cdn.com/content/v1/590b05d62994caa0d31078ca/1493984466384-66CBGHJAEYN0CP21YCTD/image1.jpg?format=2500w');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.choose__us p{
  color: var(--color);
  font-size: 22px;
}

.choose__us h3{
  color: var(--main);
  font-weight: 800;
}


/* Count section */

.count__page{
  height: 300px;
  background: linear-gradient(rgba(100, 102, 113, 0.5), rgba(93, 94, 109, 0.5)),url('https://www.cntower.ca/sites/default/files/styles/16_9_scale_and_crop_large/public/images/explore-cn-tower%20.jpg?h=5ce0254a&itok=A_rLcJHm');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.count__page h1 p{
  color: #fff !important;
}


/* Testimonial  Section*/

.testimonials__section h2{
  color: var(--main);
  font-weight: 700;
}

.testimonials__section h6{
  color: var(--color);
}

.testimonials__section .name{
  color: var(--color);
}



/* Footer Section  */

.footer__section img{
  width: 100%;
}

.footer__section h5{
  color: var(--main);
  text-align: center;
}

.footer__section ul{
  list-style: none;
}
.footer__section ul li{
  margin-bottom: 10px;
}


.footer__section strong{
  color: var(--color);
}

.footer__section .icon{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.footer__section .icon li{
  padding:10px !important ;
  background:#3b5998;
  border-radius: 48px;
  color: #fff;
  margin-top: -10px;
}