@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&family=Work+Sans:wght@100&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;  
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main:#3e97d1;
  --color:#dd7b05;
  --text:#000;
  --FontNav:17px;
}

.navbar__logo__img{
  width: 50%;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__container ul{
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar__container ul li a{
  text-decoration: none;
  color: var(--main);
  font-size: var(--FontNav);
  font-weight: 700;
}

.navbar__container button{
  padding: 10px;
  background: var(--main);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top:-10px;
  transition: all .5s ease-in;
  cursor: pointer;
}
.navbar__container button:hover{
  transition: all .5s ease-in;
  background: var(--color);
}